<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/simple-datatables.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/sweetalert2.all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/menu-setting.js"></script>
